<a href="https://colab.research.google.com/github/juanFFlorezM/Extraccion_de_datos/blob/main/VN_munich.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Cargamos las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# cargar archivo listings en el data frame data
# se despliegan las cinco primeras registros de la BD
data=pd.read_csv('listings.csv')
data.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,97945,https://www.airbnb.com/rooms/97945,20241227033114,2024-12-27,city scrape,Deluxw-Apartm. with roof terrace,NaN,We are living in a outskirt of Munich its call...,https://a0.muscache.com/pictures/2459996/10b4c...,517685,...,4.93,4.78,4.73,NaN,f,2,2,0,0,0.78
1,114695,https://www.airbnb.com/rooms/114695,20241227033114,2024-12-27,city scrape,Apartment Munich/East with sundeck,NaN,NaN,https://a0.muscache.com/pictures/21571874/960e...,581737,...,5.00,4.67,4.62,NaN,f,3,3,0,0,0.48
2,127383,https://www.airbnb.com/rooms/127383,20241227033114,2024-12-27,city scrape,City apartment next to Pinakothek,NaN,NaN,https://a0.muscache.com/pictures/79238c11-bc61...,630556,...,4.96,4.91,4.81,NaN,f,1,1,0,0,0.70
3,159634,https://www.airbnb.com/rooms/159634,20241227033114,2024-12-27,previous scrape,"Fancy, bright central roof top flat and homeof...",In this idyllic stylish flat you live very qui...,"Very quiet, green, squirrels and beergardens a...",https://a0.muscache.com/pictures/336144dc-b06d...,765694,...,4.80,4.59,4.45,NaN,t,1,1,0,0,0.27
4,170154,https://www.airbnb.com/rooms/170154,20241227033114,2024-12-27,city scrape,"Own floor & bath, parking & breakfast","Enjoy a quiet neighbourhood, easy access to th...",NaN,https://a0.muscache.com/pictures/31636890/593e...,108297,...,4.98,4.77,4.91,NaN,f,1,0,1,0,3.55

In [3]:
# La base de datos esta sin problema de duplicidad de indices y de nombres de campos
# se decide listar la cantidad de nulos en cada variable
data.isnull().sum()

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
source                                             0
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               1379
Length: 75, dtype: int64

In [4]:
# se decide calcular la cantidad de valores nulos en toda la base de datos
data.isnull().sum().sum()

72235

In [6]:
# se decide imprimir solo las variables que contienen valores nulos
data.isnull().any()

id                                              False
listing_url                                     False
scrape_id                                       False
last_scraped                                    False
source                                          False
                                                ...
calculated_host_listings_count                  False
calculated_host_listings_count_entire_homes     False
calculated_host_listings_count_private_rooms    False
calculated_host_listings_count_shared_rooms     False
reviews_per_month                                True
Length: 75, dtype: bool

In [7]:
# ya que la BD tiene 75 variables solo imprimire las variables
# que tienen un numero de nulos mayor de cero
null_counts=data.isnull().sum()
print(null_counts[null_counts>0])

description                      271
neighborhood_overview           4717
host_name                          2
host_since                         2
host_location                   1558
host_about                      4470
host_response_time              2615
host_response_rate              2615
host_acceptance_rate            1427
host_is_superhost                 58
host_thumbnail_url                 2
host_picture_url                   2
host_neighbourhood              5476
host_listings_count                2
host_total_listings_count          2
host_verifications                 2
host_has_profile_pic               2
host_identity_verified             2
neighbourhood                   4717
neighbourhood_group_cleansed    7281
bathrooms                       2559
bathrooms_text                     8
bedrooms                         779
beds                            2557
price                           2554
calendar_updated                7281
has_availability                 241
first_review                    1379
last_review                     1379
review_scores_rating            1379
review_scores_accuracy          1379
review_scores_cleanliness       1379
review_scores_checkin           1379
review_scores_communication     1379
review_scores_location          1379
review_scores_value             1379
license                         7243
reviews_per_month               1379
dtype: int64

In [8]:
#Se averigua el tipo de las variables que tienen valores nulos
#mayores que cero en el dataframe data
null_cols=null_counts[null_counts>0].index
data[null_cols].dtypes

description                      object
neighborhood_overview            object
host_name                        object
host_since                       object
host_location                    object
host_about                       object
host_response_time               object
host_response_rate               object
host_acceptance_rate             object
host_is_superhost                object
host_thumbnail_url               object
host_picture_url                 object
host_neighbourhood               object
host_listings_count             float64
host_total_listings_count       float64
host_verifications               object
host_has_profile_pic             object
host_identity_verified           object
neighbourhood                    object
neighbourhood_group_cleansed    float64
bathrooms                       float64
bathrooms_text                   object
bedrooms                        float64
beds                            float64
price                            object
calendar_updated                float64
has_availability                 object
first_review                     object
last_review                      object
review_scores_rating            float64
review_scores_accuracy          float64
review_scores_cleanliness       float64
review_scores_checkin           float64
review_scores_communication     float64
review_scores_location          float64
review_scores_value             float64
license                          object
reviews_per_month               float64
dtype: object

In [9]:
# se hace una copia del dataframe data a un dataframe data2:
data2=data.copy()

In [13]:
# Este codigo permite sustituir los valores nulos en las variables tipo float64 del dataframe data2,
# que tengan valores nulos mayores de cero, por el valor promedio de cada variable:
#primer paso:
# Calcula la cantidad de nulos por columna
null_counts = data2.isnull().sum()
#segundo paso:
# Filtra para obtener solo las columnas con nulos mayores a cero
null_counts = null_counts[null_counts > 0]

# Itera sobre las columnas del DataFrame
for col in data2.columns:
    # Verifica si la columna tiene tipo 'float64' y tiene valores nulos
    if data2[col].dtype == 'float64' and col in null_counts.index:
        # Rellena los valores nulos con la media de la columna
        data2[col].fillna(data2[col].mean(), inplace=True)
#

<ipython-input-13-2d2bc9ba2bf9>:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2[col].fillna(data2[col].mean(), inplace=True)

In [14]:
#Se averigua el tipo de las variables que tienen valores nulos
#mayores que cero en el dataframe data2:
null_counts=data2.isnull().sum()
print(null_counts[null_counts>0])

description                      271
neighborhood_overview           4717
host_name                          2
host_since                         2
host_location                   1558
host_about                      4470
host_response_time              2615
host_response_rate              2615
host_acceptance_rate            1427
host_is_superhost                 58
host_thumbnail_url                 2
host_picture_url                   2
host_neighbourhood              5476
host_verifications                 2
host_has_profile_pic               2
host_identity_verified             2
neighbourhood                   4717
neighbourhood_group_cleansed    7281
bathrooms_text                     8
price                           2554
calendar_updated                7281
has_availability                 241
first_review                    1379
last_review                     1379
license                         7243
dtype: int64

In [15]:
# Esta instruccion si imprime el tipo de las variables que tienen nulos:
data2[null_cols].dtypes

description                      object
neighborhood_overview            object
host_name                        object
host_since                       object
host_location                    object
host_about                       object
host_response_time               object
host_response_rate               object
host_acceptance_rate             object
host_is_superhost                object
host_thumbnail_url               object
host_picture_url                 object
host_neighbourhood               object
host_listings_count             float64
host_total_listings_count       float64
host_verifications               object
host_has_profile_pic             object
host_identity_verified           object
neighbourhood                    object
neighbourhood_group_cleansed    float64
bathrooms                       float64
bathrooms_text                   object
bedrooms                        float64
beds                            float64
price                            object
calendar_updated                float64
has_availability                 object
first_review                     object
last_review                      object
review_scores_rating            float64
review_scores_accuracy          float64
review_scores_cleanliness       float64
review_scores_checkin           float64
review_scores_communication     float64
review_scores_location          float64
review_scores_value             float64
license                          object
reviews_per_month               float64
dtype: object